version: '3.8'

services:
  game-service:
    build:
      context: ./backend/game-service        
      dockerfile: Dockerfile
    image: game-service:dev                  
    container_name: game-service
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - USER_SERVICE_URL=http://user-service:8002
    ports:
      - "8000:8000"
    depends_on:
      - user-service
  user-service:
    build: ./backend/user-service
    ports:
      - "8002:8002"
    environment:
      - MONGO_URI=mongodb://mongo:27017
    depends_on:
      - mongo
      
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - user-service
      - game-service

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: